{
	admin 127.0.0.1:2019
	servers {
		protocols h1 h2
	}
}

:80 {
	@health path /api/health
	handle @health {
		reverse_proxy app:3000
	}
	handle {
		redir https://{$SITE_ADDRESS}{uri} permanent
	}
}

{$SITE_ADDRESS} {
	encode zstd gzip

	header {
		-Server
		Strict-Transport-Security "max-age=31536000"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "DENY"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
	}

	reverse_proxy app:3000

	log {
		output stdout
		format json
	}
}
